@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col,
.input-data {
    display: flex;
    justify-content: center;
    position: relative;
}

.main-box {
    width: 336px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.top {
    width: 100;
    height: 28px;
    background: #FFDC40;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header {
    height: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.header p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#inputData {
    width: 286px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    outline: 0;
}

.sort {
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.sort img {
    width: 25px;
    height: 15px;
    margin-right: 30px;
    margin-bottom: 12px;
}

.data-add {
    width: 150px;
    height: 42px;
    margin: 20px 0;
    background: #9953F1;
    border-radius: 71px;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.add {
    width: 42px;
    height: 42px;
    background: #AA68FE;
    border-radius: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.desc,
.data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete {
    position: absolute;
    right: 50px;
    top: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.list {
    width: 286px;
    /* border: ; */
    box-sizing: border-box;
    border-radius: 10px;
    /* margin: 20px 0; */
}

.list ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.list ul li {
    margin: 20px 25px;
    font-family: 'Roboto';
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list ul li img {
    cursor: pointer;
}


/* .list ul li img:hover {
    cursor: pointer;
    background: #833AE0;
} */

.list-main {
    display: flex;
    justify-content: center;
}